<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metflix</title>
    <link rel="icon" type="image/x-icon" href="../imagens/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand"><img src="../imagens/logo-navbar.webp" width="70" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Filmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/filmes/cadastro">Cadastro</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer class="text-center">
        <div class="container p-4 pb-0">
            <section>
                <a class="btn text-white btn-floating m-1 facebook" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn text-white btn-floating m-1 twitter" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn text-white btn-floating m-1 google" href="#!"><i class="fab fa-google"></i></a>
                <a class="btn text-white btn-floating m-1 instagram" href="#!"><i class="fab fa-instagram"></i></a>
                <a class="btn text-white btn-floating m-1 linkedin" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn text-white btn-floating m-1 github" href="#!"><i class="fab fa-github"></i></a>
            </section>
        </div>
        <div class="text-center p-3">
            <p>&copy; 2026 Metflix. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>